<div class="flex flex-col h-screen mb-2 bg-fixed bg-center bg-no-repeat rounded-lg shadow-lg " style="background-image: url('https://s13.favim.com/orig/160313/background-black-and-white-carnaval-cities-Favim.com-4078473.jpg') ">
<h1 class="p-4 mt-0 font-bold text-center text-blue-900 bg-gradient-to-r from-green-400 to-blue-500 text-8xl">Welcome to Theme Par<span class="text-yellow-400">kin.</span></h1>
</div>