<div class="bg-fixed bg-no-repeat bg-center rounded-lg shadow-lg mb-2 h-screen flex flex-col " style="background-image: url('https://s13.favim.com/orig/160313/background-black-and-white-carnaval-cities-Favim.com-4078473.jpg') ">
<h1 class="bg-gradient-to-r from-green-400 to-blue-500 font-bold text-blue-900 text-center text-8xl p-4 mt-0">Welcome to Theme Parkin</h1>
</div>