// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#map {
    width: 600px;
    
    margin: auto;
    border: thick solid purple;
}